{% extends 'UserApp/base.html' %} {% block content %}

<style>
    .success {
        color: green;
        font-size: medium;
    }
</style>

<header style="color: blue;">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <!-- Navbar content -->
        <a class="btn btn-primary" href="{% url 'LogOut' %}">LogOut</a>


        <h4>Items List of Todo Dashboard</h4>




        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{request.user.name}}
    </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'Edit' %}">Edit profile</a>
                <a class="dropdown-item" href="{% url 'Profile' %}">Home</a>

                <a class="dropdown-item" href="{% url 'create' %}">Create new Todolist</a>
                <a class="dropdown-item" href="{% url 'List_todo' %}">Views todolist</a>
                <a class="dropdown-item" href="{% url 'items' %}">create Items todolist</a>
                <a class="dropdown-item" href="{% url 'items_todo' %}">Views Items todolist</a>


                <a class="dropdown-item" href="{% url 'LogOut' %}">Logout</a>

            </div>
        </div>
    </nav>

</header>

<h1 style="color: pink;"></h1>



<div class="col-sm-10">
    <h1 class="text-white my-5">Dashboard Page</h1>
    <a href="{% url 'items' %}" class="btn btn-success">Add Items</a>
    <h4 class="text-center alert alert-info mt-3">Show Todolist information</h4>
    {% if messages %} {% for msg in messages %}
    <small {% if msg.tags %} class="{{msg.tags}}" {% endif %}>{{msg}}</small> {% endfor %} {% endif %} {% if todo_items %}
    <table class="table table-hover bg-light background-color rounded-circle">

        <thead>
            <tr class="text-center">
                <th scope="col" style="width:2%;">ID</th>
                <th scope="col" style="width:2%;">Title</th>
                <th scope="col" style="width:2%;">Todo Task</th>
                <th scope="col" style="width:2%;">Description</th>
                <th scope="col" style="width:2%;">Is_Active</th>

                <th scope="col" style="width:2%;">Added Date</th>
                <th scope="col" style="width:2%;">Action</th>

            </tr>
        </thead>

        <tbody>
            {% for i in todo_items %}
            <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.item_title}}</td>
                <td>{{i.todo.title}}</td>
                <td>{{i.description}}</td>
                <td> {% if i.is_active %}<span style="color: green;">&#10004;</span>
                    <i class="fas fa-check-circle text-success text-green my-5"></i> {% else %}
                    <span style="color: red;"> &#10060</span>;
                    <i class="far fa-circle"></i> {% endif %}

                </td>
                <td>{{i.added_date}}</td>

                <td class="text-center">
                    <a href="{% url 'EditItem' i.id %}" class="btn btn-warning btn-sm">Edit</a>
                    <form id="delete-form" action="{% url 'DeleteItem' i.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" id="delete-button" class="btn btn-danger btn-sm" value="delete">


                    </form>


                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>

    {% endif %}



</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#delete-button').click(function(event) {
            event.preventDefault();
            // Show confirmation dialog
            var confirmed = confirm('Are you sure you want to delete this item?');
            if (!confirmed) {
                console.log('User cancelled the deletion');
                return;
            }
            // Submit the form to delete the item
            $('#delete-form').submit();
        });
    });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>









</div>








{% endblock %}